<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digi.mobile.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- Request Permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >

        <!-- Logo Activity -->
        <activity
            android:name=".ScreenLogoActivity"
            android:label="@string/title_activity_screen_logo"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>

        <!-- DigiMobi Activity -->
        <activity
            android:name=".DigiMobiActivity"
            android:label="@string/title_activity_digi_mobi"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>

        <!-- NewApp Activity -->
        <activity
            android:name=".NewAppActivity"
            android:label="@string/title_activity_new_app"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <!-- NewApp Detail Activity -->
        <activity
            android:name=".NewAppDetailActivity"
            android:label="@string/title_activity_new_app_detail"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <!-- Option Activity -->
        <activity
            android:name=".OptionActivity"
            android:label="@string/title_activity_option"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <!-- Crop Activity -->
        <activity
            android:name=".CropActivity"
            android:label="@string/title_activity_crop"
            android:parentActivityName=".OptionActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.D1NoTitleDim" >
        </activity>

        <!-- Create Customer Activity -->
        <activity
            android:name=".CreateCustomerActivity"
            android:label="@string/title_activity_create_customer"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" >
        </activity>

        <!-- Declare ListCustomer Activity -->
        <activity
            android:name=".ListCustomerActivity"
            android:label="@string/title_activity_list_customer"
            android:theme="@style/Theme.D1NoTitleDim" >
        </activity>

        <!-- Document Type Activity -->
        <activity
            android:name=".DocumentTypeActivity"
            android:label="@string/title_activity_document_type"
            android:theme="@style/Theme.D1NoTitleDim" >
        </activity>

        <!-- Declare File Selection Activity -->
        <activity android:name="paul.arian.fileselector.FileSelectionActivity" />
        <activity
            android:name=".SaveActivity"
            android:label="@string/title_activity_review"
            android:theme="@style/Theme.D1NoTitleDim" >
        </activity>
        <activity
            android:name=".CreateFolderActivity"
            android:label="@string/title_activity_create_folder" android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
        </activity>
    </application>

</manifest>